.skills {
    padding: 0px 220px;
    margin-top: -56px;
    padding-top: 56px;
  }
  .skillsTitle {
    font-size: 60px;
    font-weight: 800;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom:40px;
    border-bottom: 3px solid red;
  }
 
 
  .name{
    font-size: 34px;
    font-weight: 900;
    margin: 10px 0;
  }
  .explain {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 4px;
  }

  @media (max-width: 768px) {
    .skills {
      font-size: 26px;
      margin-top: 40px;
      padding: 0 80px;
    }
    .skillsTitle{
      line-height: 150%;
      font-size: 40px;
      font-weight: 800;
    }
  .name {
    font-size: 30px;
    margin-top: 20px;
  }
    .explain{
      gap: 4px;
    }
    .explain span {
      font-size: 20px;

    }
  }

  @media (max-width: 375px) {
    .skills {
      padding: 0 44px;
    }
    .skillsTitle{
      font-size: 40px;

    }
    .name {
      font-size: 19px;

    }
    .explain span {
      font-size: 14px;

    }
  }
